In [ ]:
import pandas as pd

REAL_PATH = "datasets/true.csv"
FAKE_PATH = "datasets/fake.csv"
TEST_PATH = "datasets/test.csv"

In [39]:
dataset_real = pd.read_csv(REAL_PATH)
dataset_fake = pd.read_csv(FAKE_PATH)
dataset_test = pd.read_csv(TEST_PATH)

# Check shapes
print("Real dataset shape:", dataset_real.shape)
print("Fake dataset shape:", dataset_fake.shape)
print("Test dataset shape:", dataset_test.shape)

# Print headers
print("Real dataset headers:", dataset_real.columns.tolist())
print("Fake dataset headers:", dataset_fake.columns.tolist())
print("Test dataset headers:", dataset_test.columns.tolist())

Real dataset shape: (21417, 4)
Fake dataset shape: (23481, 4)
Test dataset shape: (20, 6)
Real dataset headers: ['title', 'text', 'subject', 'date']
Fake dataset headers: ['title', 'text', 'subject', 'date']
Test dataset headers: ['idx', 'title', 'text', 'subject', 'date', 'class']

In [40]:
# Add on class column
dataset_real['class'] = 1
dataset_fake['class'] = 0

for idx, cls in zip(dataset_test['idx'], dataset_test['class']):
    if cls == 1:
        dataset_real.drop([idx], axis=0, inplace=True, errors='ignore')
    else:
        dataset_fake.drop([idx], axis=0, inplace=True, errors='ignore')

dataset_test.drop(['idx'], inplace=True, axis=1)

print("Test dataset headers:", dataset_test.columns.tolist())
print("Unique values in 'class' column:", dataset_test['class'].unique())
print("Count of fake (0) and real (1) in test dataset:", dataset_test['class'].value_counts())

Test dataset headers: ['title', 'text', 'subject', 'date', 'class']
Unique values in 'class' column: [0 1]
Count of fake (0) and real (1) in test dataset: class
0    10
1    10
Name: count, dtype: int64

In [41]:
dataset_real.shape, dataset_fake.shape, dataset_test.shape

((21407, 5), (23471, 5), (20, 5))

In [42]:
dataset_real.head()

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [43]:
dataset_fake.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [44]:
training_data = pd.concat([dataset_real, dataset_fake], axis=0)

# Inspect label distribution
print("Training data class distribution:")
sub_class = pd.crosstab(training_data['subject'], training_data['class'])
# print(training_data['subject'].value_counts())
print(sub_class)

Training data class distribution:
class               0      1
subject
Government News  1570      0
Middle-east       768      0
News             9050      0
US_News           783      0
left-news        4459      0
politics         6841      0
politicsNews        0  11272
worldnews           0  10135

In [45]:
# Subject is irrelevant as they are distinct
training_data.drop(['subject', 'date'], axis=1, inplace=True)

In [52]:
# Shuffle the training data
data = training_data.sample(frac=1, random_state=42)
data.reset_index(inplace=True)

In [56]:
data.drop(['index'], axis=1, inplace=True, errors='ignore')
data.head()

,title,text,class
0,Details of first Putin-Trump meeting not yet s...,MOSCOW (Reuters) - Russia and the United State...,1
1,HEY CNN…REMEMBER OBAMA’S Notorious “Friday Nig...,Republican Rep. Steve King: The base is going ...,0
2,Liberia's ruling party backs challenge to pres...,"MONROVIA (Reuters) - Liberia s ruling party, w...",1
3,Trade in focus at hearing for Trump's nominee ...,WASHINGTON (Reuters) - U.S. senators stressed ...,1
4,WHY ARE GOOGLE AND FACEBOOK ATTENDING BILDERBE...,"Why are banking powerhouses, European Prime Mi...",0

In [57]:
# Save the cleaned datasets
data.to_csv("datasets/cleaned_data.csv", index=False)
dataset_test.to_csv("datasets/test_cleaned.csv", index=False)